NET "LED_o[2]" LOC = T9;
NET "LED_o[1]" LOC = R9;
NET "LED_o[0]" LOC = T8;
#INST "CLK_25M_i_BUFGP" LOC = J6;
NET "CLK_25M_i" LOC = J6;
NET "LED_o[2]" IOSTANDARD = LVCMOS33;
NET "LED_o[1]" IOSTANDARD = LVCMOS33;
NET "LED_o[0]" IOSTANDARD = LVCMOS33;
NET "CLK_25M_i" IOSTANDARD = LVCMOS33;
