NET "i_CLK_25M" LOC = J6;
NET "i_CLK_25M" IOSTANDARD = LVCMOS18;
#INST "i_CLK_25M_BUFGP" LOC = J6;

NET "o_LED[2]" LOC = T9;
NET "o_LED[1]" LOC = R9;
NET "o_LED[0]" LOC = T8;
NET "o_LED[2]" IOSTANDARD = LVCMOS33;
NET "o_LED[1]" IOSTANDARD = LVCMOS33;
NET "o_LED[0]" IOSTANDARD = LVCMOS33;

NET "i_button" LOC = M14;
NET "i_button" IOSTANDARD = LVCMOS33;
NET "i_button" PULLUP;
